html {
  font-size: 62.5%;
   height: 100%;
}
body {
  height: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}
ul {
  /* 余白を削除 */
  margin: 0;
  padding: 0;
}
li {
  /* リスト先頭の黒丸を削除 */
  list-style: none;
}/* 追記 */
ul.top_menu {
  float: right;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
   width: 110px;
   float: left;
   margin: 0;
}
.image_area{
  width: 100%;
}
.top_menu li {
  float: left;
  width: auto;
}
/* displayとpaddingを追記 */
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.content{
  height: 200px;
}
.side_menu{
  width: 300px;
  float: left;
}
.content{
  float: left;
  height: 200spx;

}
.wrapper{
  margin-top: 10px;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.parent{
  background-color: #000;
  opacity: 0.5;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner a:hover {
  opacity: 0.6;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}
.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
}
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.footer{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #4D4D4D;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
